<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Home</title>
</head> 
<body>
	<nav th:replace="~{fragments/header :: header}">
		<span>replace</span>
	</nav>
	<br>
	<div class="card text-center">
		<div class="card-header">Olá!</div>
		<div class="card-body">
			<h3 class="card-title"></h3>
			<h2>O que esta disponivel na parte 2 do trabalho:</h2>
			<hr>
			<ul>
			<li><h4>Criacao de usuarios</h4></li>
			<li><h4>Utilizacao de encriptador (Bcrypt)</h4></li>
			<li><h4>Controle de acesso para paginas autenticadas (esta pagina)<h4></li>
			<li><h4>Paginas livres sem autenticacao (index, login, registro...)</h4></li>
			<li><h4>Limpeza dos cookies de autenticacao ao deslogar</h4></li>
			</ul>
			<a href="#" class="btn btn-primary">De acordo</a>
		</div>
		<div class="card-footer text-muted"></div>
	</div>
</body>
</html>