<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/fontawesome/css/all.min.css}" />
<meta charset="UTF-8">
<title>Lista de Produtos</title>
</head>
<body>
	<nav th:replace="~{fragments/header :: header}">
		<span>replace</span>
	</nav>
	<br />
	<div
		style="width: 50%; display: flex; flex-direction: column; align-items: center; margin-left: 25%;">
		<nav th:replace="~{fragments/messages :: messages}">
			<span>replace</span>
		</nav>
		<form th:action="@{/produto/produtoBusca}">
			<div class="input-group mb-3">
				<a th:href="@{/produto/produtoForm}"><button type="button"
						class="btn btn-outline-secondary">Novo</button></a>&nbsp;&nbsp; <input
					type="text" class="form-control" placeholder="Nome do produto"
					name="termo" id="termo" size="50" th:value="${termo}" />
				<button type="submit" class="btn btn-secondary btn-sm" id="btnBusca">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</form>
	</div>
	<br />
	<div
		style="width: 50%; display: flex; flex-direction: column; align-items: center; margin-left: 25%;"
		th:switch="${#lists.size(produtoList)}">
		<div th:case="'0'">Sem produtos!</div>
		<table th:case="*" class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Valor</th>
					<th scope="col">Estoque</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtoList}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.valor}"></td>
					<td th:text="${produto.estoque}"></td>
					<td><a th:href="@{/produto/produtoForm(id=${produto.id})}">
							<button class="btn btn-primary btn-sm">
								<i class="fa-solid fa-pen-to-square"></i>
							</button>
					</a></td>
					<td>
						<form th:action="@{/produto/produtoDelete}" method="post">
							<input type="hidden" class="form-control"
								placeholder="Nome do produto" name="id" id="id" size="50"
								th:value="${produto.id}" />
							<button type="submit" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<th:block layout:fragment="script">
	<script>
		function saveParecerEstagio(produto) {
			var url = '/produto/produtoDelete';
			pars += '&produto=' + produto;
			var myAjax = new Ajax.Request(url, {
				method : 'post',
				parameters : pars,
				evalScripts : true,
				asynchronous : true,
				onSuccess : function(transport) {
					alert("show");
				},
				onFailure : function(transport) {
					alert("treta");
				}
			});
		}
	</script>
</th:block>
</html>