<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Produto</title>
</head>
<body>
	<nav th:replace="~{fragments/header :: header}">
		<span>replace</span>
	</nav>
	<br>
	<div
		style="width: 50%; display: flex; flex-direction: column; align-items: center; margin-left: 25%;">
		<form th:action="@{/produto/produtoSave}" th:object="${produto}"
			method="POST" id="form_busca">
			<div class="input-group mb-3">
				<img
					th:src="${pic} == null ? @{/images/no-image.png} : @{'data:image/png;base64,'+${pic}}"
					style="width: 12rem;" class="rounded mx-auto d-block">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Nome</span> <input
					type="text" class="form-control" aria-label="Username"
					aria-describedby="basic-addon1" id="nome" th:field="*{nome}"
					required>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Area</span> <input
					type="text" class="form-control" aria-label="Username"
					aria-describedby="basic-addon1" id="nome" th:field="*{area}"
					required> &nbsp;&nbsp; <span class="input-group-text"
					id="basic-addon1">Valor</span> <input type="text"
					class="form-control" aria-label="Username"
					aria-describedby="basic-addon1" id="nome" th:field="*{valor}"
					required>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Estoque</span> <input
					type="text" class="form-control" aria-label="Username"
					aria-describedby="basic-addon1" id="nome" th:field="*{estoque}"
					required> &nbsp;&nbsp; <input type="file"
					class="form-control" aria-label="Username"
					aria-describedby="basic-addon1" id="nome" th:field="*{estoque}"
					required>
			</div>
		</form>
		<span class="navbar-text"> <a class="nav-link"
			th:href="@{/produto/produtoList}"><button type="button"
					class="btn btn-danger btn-sm">Voltar</button></a>
		</span>
	</div>
</body>
</html>