<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/fontawesome/css/all.min.css}" />
<meta charset="UTF-8">
<title>Lista de Produtos</title>
</head>
<body>
	<nav th:replace="~{fragments/header :: header}">
		<span>replace</span>
	</nav>
	<div
		style="width: 50%; display: flex; flex-direction: column; align-items: center; margin-left: 25%;">
		<br />
		<div>
			<div class="input-group">
				<a th:href="@{/produto/produtoForm}"><button type="button"
						class="btn btn-outline-secondary">Novo</button></a>&nbsp;&nbsp;
				&nbsp;&nbsp; <input type="text" placeholder="Nome do produto"
					class="form-control" id="termoBusca" aria-describedby="emailHelp">
				&nbsp;&nbsp; <a th:href="@{/produto/produtoBusca(termo=AA)}">
					<button class="btn btn-secondary btn-sm" id="btnBusca">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</a>
			</div>
		</div>
		<br />
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Valor</th>
					<th scope="col">Estoque</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtoList}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.valor}"></td>
					<td th:text="${produto.estoque}"></td>
					<td><a th:href="@{/produto/produtoForm(id=${produto.id})}">
							<button class="btn btn-primary btn-sm">
								<i class="fa-solid fa-pen-to-square"></i>
							</button>
					</a></td>
					<td><a th:href="@{/produto/produtoDelete(id=${produto.id})}">
							<button class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash-can"></i>
							</button>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<th:block layout:fragment="script">
	<script>
		function saveParecerEstagio(produto) {
			var url = '/produto/produtoDelete';
			pars += '&produto=' + produto;
			var myAjax = new Ajax.Request(url, {
				method : 'post',
				parameters : pars,
				evalScripts : true,
				asynchronous : true,
				onSuccess : function(transport) {
					alert("show");
				},
				onFailure : function(transport) {
					alert("treta");
				}
			});
		}
	</script>
</th:block>
</html>